@{
    Layout = "_Layout";
    ViewBag.Title = "Заявка оформлена";
}

<section class="orders">
    <div class="page">
        <div class="buton-section-block">
            <h1 class="page__title page-orders__title">Оформление заказа:</h1>
            <div class="hr"></div>
        </div>
    </div>
    <div class="content-block orders-page__content-block">
        
    </div>
</section>
