<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.svg">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>@ViewBag.Title</title>
</head>
<body>
    <header class="header">
        <div class="header-logo-block">
            <img class="header-logo__img" src="../img/logoMonolit.png" alt="Логотип в виде буквы м">
            <div class="header-logo__name"></div>
        </div>
        <div class="header__authorization-block"></div>
    </header>
    <div class="container">
        <aside>
            <div class="nav-panel">
                <img class="nav-panel__img" src="../img/nav-panel-icon/men.svg" alt="Иконка в виде фигуры человека">
                <img class="nav-panel__img" src="../img/nav-panel-icon/helmet.svg" alt="Иконка в виде строительной каски">
                <img class="nav-panel__img" src="../img/nav-panel-icon/folder.svg" alt="Иконка в папки для бумаг">
                <img class="nav-panel__img" src="../img/nav-panel-icon/basket.svg" alt="Иконка в виде корзинки">
                <img class="nav-panel__img" src="../img/nav-panel-icon/list.svg" alt="Иконка в виде листа и карандаша">
                <img class="nav-panel__img" src="../img/nav-panel-icon/gear.svg" alt="Иконка в виде зубчатого колеса">
            </div>

        </aside>
        <main>
                @RenderBody()
        </main>
    </div>
</body>
</html>