//-- Шрифты
$ff_logo: 'Oswald', sans-serif;
$ff_title: 'Roboto',sans-serif;
$ff_title2: 'Roboto Condensed', sans-serif;
$ff_content: 'Mulish', sans-serif;


//-- цвета
$col_000000: #000000;
$col_ffffff: #ffffff;
$col_E4E4E4: #E4E4E4;
$col_7C94FE: #7C94FE;
$col_00B000: #00B000;
$col_F8C7B9: #F8C7B9;










